#main {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  #Pokemon-container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  ul {
    list-style: none;
  }

  .centered {
    display: grid;
    text-align: center;
  }

  